*.log
.DS_Store
.env
.env.backup
.env.production
/.codex
/.cursor/
/.idea
/.vscode
/.zed
/.coverage
/node_modules
/public/build
/public/storage
/storage/*.sqlite
/storage/*.sqlite-*
/storage/tmp/*
!/storage/tmp/.gitignore
/storage/*.key
/storage/pail